<div class="flex min-w-0 flex-auto flex-col">
    <mat-card appearance="outlined">
      <div class="flex justify-between items-center">
        <mat-card-header>
          Liste des ventes
        </mat-card-header>
        <button mat-raised-button color="primary" (click)="goToAddSale()" class="mt-5 whitespace-nowrap">
          <mat-icon>add</mat-icon>
          Ajouter une vente
        </button>
      </div>
      <div>
        <h5>Filtrer par ...</h5>
        <form [formGroup]="filterForm" class="input-container">
          <!-- Date de début -->
          <mat-form-field appearance="fill">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="start_date" placeholder="Choisissez une date">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <!-- Date de fin -->
          <mat-form-field appearance="fill">
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="end_date" placeholder="Choisissez une date">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          <!-- Client (liste déroulante) -->
          <mat-form-field appearance="fill">
            <mat-label>Client</mat-label>
            <mat-select formControlName="client_id">
              <mat-option *ngFor="let client of clients" [value]="client.id">
                {{ client.nom }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Produit (liste déroulante) -->
          <mat-form-field appearance="fill">
            <mat-label>Produit</mat-label>
            <mat-select formControlName="product_id">
              <mat-option *ngFor="let product of products" [value]="product.id">
                {{ product.nom }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Prix total minimum -->
          <mat-form-field appearance="fill">
            <mat-label>Prix total minimum</mat-label>
            <input matInput type="number" formControlName="min_total_price" placeholder="Saisissez un montant">
          </mat-form-field>
          <!-- Prix total maximum -->
          <mat-form-field appearance="fill">
            <mat-label>Prix total maximum</mat-label>
            <input matInput type="number" formControlName="max_total_price" placeholder="Saisissez un montant">
          </mat-form-field>
        </form>
      </div>
      <div>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" class="demo-table">
            <!-- Colonne ID -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <!-- Colonne Client -->
            <ng-container matColumnDef="client_name">
              <th mat-header-cell *matHeaderCellDef>Client</th>
              <td mat-cell *matCellDef="let element">{{ element.client_name }}</td>
            </ng-container>
            <!-- Colonne Produit -->
            <ng-container matColumnDef="product_name">
              <th mat-header-cell *matHeaderCellDef>Produit</th>
              <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
            </ng-container>
            <!-- Colonne Quantité -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantité</th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>
            <!-- Colonne Prix -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Prix</th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>
            <!-- Colonne Total -->
            <ng-container matColumnDef="total_price">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let element">{{ element.total_price }}</td>
            </ng-container>
            <!-- Colonne Actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button (click)="updateSaleById(element.id)" mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="openDeleteDialog(element.id)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
          </mat-paginator>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
