
<div class="flex min-w-0 flex-auto flex-col">
    <div fxLayout="row" class="title flex justify-between items-center" >
        <h2>Modifier un fournisseur</h2>
        <button mat-button routerLink="/clients">Retourner à la liste des fournisseur</button>
    </div>
    <div class="container">
    <form class="input-form" [formGroup]="updateFournisseurForm" (ngSubmit)="onSubmit()">
        <div class="div-content-add-and-delet-forms">
            <div class="input-form-fields">
                <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Ex. Nom de la société" formControlName="nom">
                <mat-error *ngIf="updateFournisseurForm.get('nom')?.hasError('required')">Le nom est <strong>requis</strong>.</mat-error>
                </mat-form-field>
            </div>
            <div class="input-form-fields">
                <mat-form-field>
                <mat-label>Téléphone</mat-label>
                <input matInput placeholder="Ex. +33696656256" formControlName="telephone">
                <mat-error *ngIf="updateFournisseurForm.get('telephone')?.hasError('required')">Le téléphone est <strong>requis</strong>.</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                <mat-label>Adresse</mat-label>
                <input matInput placeholder="Ex. Nolanga" formControlName="adresse">
                </mat-form-field>
            </div>
            </div>
        
            <div class="button-container">
            <button mat-raised-button [disabled]="updateFournisseurForm.invalid" type="submit" color="primary">
                Modifier
            </button>
            <button mat-raised-button type="reset" color="yellow">
                Annuler
            </button>
            </div>
    </form>
    </div>
</div>
