<div class="flex min-w-0 flex-auto flex-col">
    <!-- Fuse Alert -->
    <fuse-alert
      *ngIf="!alertDismissed"
      [appearance]="'soft'"
      [dismissible]="true"
      [dismissed]="alertDismissed"
      [type]="alertType">
      {{ alertMessage }}
    </fuse-alert>
  
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
      <!-- Form to Add Category -->
      <form [formGroup]="categoryForm" class="w-full max-w-md mx-auto" (ngSubmit)="addCategory()">
        <div class="flex items-center justify-between gap-4">
          <mat-form-field class="w-full flex-1">
            <mat-label>Entrez le nom de la catégorie</mat-label>
            <input matInput formControlName="nom" placeholder="Ex. Pizza" />
            <mat-error *ngIf="categoryForm.get('nom')?.invalid && categoryForm.get('nom')?.touched">
              Le nom de la catégorie est requis et doit comporter au moins 3 caractères.
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" class="whitespace-nowrap" [disabled]="categoryForm.invalid">
            <mat-icon>add</mat-icon>
            Ajouter Catégorie
          </button>
        </div>
      </form>
  
      <!-- List of Categories -->
      <mat-nav-list>
        <mat-list-item *ngFor="let category of (categories$ | async)">
          <a matListItemTitle href="#">{{ category.nom }}</a>
          <button mat-icon-button (click)="openDeleteDialog(category.id)" matListItemMeta>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  